<button
  mat-raised-button
  color="primary"
  routerLink="detail"
  type="button"
  id="addUser"
>
  Add User
</button>
<mat-accordion>
  <mat-expansion-panel *ngFor="let user of usersList; let i = index">
    <mat-expansion-panel-header>
      {{ i + 1 }}. {{ user.name }}
    </mat-expansion-panel-header>
    <mat-grid-list cols="3" rowHeight="50px">
      <mat-grid-tile> Name: {{ user.name }} </mat-grid-tile>
      <mat-grid-tile>Email: {{ user.email }}</mat-grid-tile>
      <mat-grid-tile>Username: {{ user.username }}</mat-grid-tile>
      <mat-grid-tile>Address: {{ user.address }}</mat-grid-tile>
      <mat-grid-tile>
        Roles:
        <mat-list *ngFor="let role of user.roles" dense role="list">
          <mat-list-item>{{ role }}</mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-action-row>
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['detail', user.id]"
        type="button"
      >
        Edit
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
