.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 300px));
  grid-auto-columns: minmax(max-content, 300px);
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

section {
  margin: 15px 0 15px 0;
}
