.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 300px));
  grid-auto-columns: minmax(max-content, 300px);
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
  grid-auto-columns: minmax(auto, 500px);
  grid-auto-flow: columns;
  row-gap: 10px;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}
h3 {
  text-align: center;
}
