<mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="form" *ngIf="!isLoading">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeHolder='Name' formControlName="name" required aria-required="true" />
    <mat-error *ngIf="showErrorIf('name','required', form)">Please enter a Name for the Category</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput placeHolder='Label' formControlName="label" required aria-required="true" />
    <mat-error *ngIf="showErrorIf('label','required', form)">Please enter a Label for the Category</mat-error>
  </mat-form-field>


  <app-thumbnail [thumbnail]="currentCategory.thumbnail" [inlineMode]=true [saveThumbnail]="saveThumbnail"
    (formStatusChange)="onThumbnailStatusChanged($event)" (thumbnailSaved)="onThumbnailSaved($event)"></app-thumbnail>

</form>
<mat-toolbar *ngIf="!isLoading">
  <button mat-raised-button color="primary" type="button" [disabled]="!form.valid || form.pristine || form.untouched"
    (click)="saveCategory()">
    Save
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="accent" routerLink="/categories" type="button">
    Cancel
  </button>
</mat-toolbar>
