.comments-card,
.accordion {
  margin: 20px;
}
mat-checkbox.selection-checkbox {
  position: relative;
  right: 10px;
}
.nocomment {
  font-weight: 600;
  position: absolute;
  top: 20%;
  right: 50%;
}
