/* You can add global styles to this file, and also import other style files */
/* autoprefixer grid: autoplace */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
mat-spinner {
  position: absolute;
  top: 40%;
  left: 40%;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.fr-box.fr-basic .fr-element {
  font-family: 'Prata', 'Roboto Slab', 'Helvetica', 'Times New Roman', 'Times', serif;
  font-size: 15px;
  line-height: 150%;
}
